section, h5{
    margin: 10px;
}

.store{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(6, 1fr);
}

nav{
    display: flex;
    justify-content: center;
}

img{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

button{
    width: 100%;
}