section{
    margin: 10px;
}

td{
    vertical-align: middle;
}

img{
    width: 20px;
    height: 20px;
}

.online-distribution{
    display: flex;
    justify-content: space-between;
}

.margin-t-l-r{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

nav {
    display: flex;
    justify-content: center;
}