<app-confirmation-modal (confirmAction)="deleteProduct(getDeleteProductId)" modalTitle="Eliminar producto" modalMessage="¿Estás seguro?"></app-confirmation-modal>

<div class="online-distribution margin-t-l-r">
  <h5>Lista de productos</h5>

  <div>
    <a class="btn btn-primary btn-sm" role="button" routerLink="/microservice-store/products/add/product">Nuevo</a>
  </div>
</div>

<section>
  @if (notificationMessage()) {
    <app-alert
        [message]="notificationMessage()"
        [alertType]="alertType()"
      ></app-alert>
  }
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Producto</th>
        <th scope="col">Precio</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>

    <tbody>
      @for (item of products; track $index) {
      <tr>
        <td>{{item.name}}</td>
        <td>$ {{item.price}}</td>
        <td>
          <button type="button" class="btn btn-success btn-sm">
            <img src="assets/img/edit-svgrepo-com.svg" alt="Editar" />
          </button>
          <button type="button" class="btn btn-danger btn-sm ms-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="setDeleteProductId = item.id">
            <img src="assets/img/trash-fill-white.svg" alt="Eliminar" />
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>

  <nav aria-label="...">
  <ul class="pagination">
    <li [class.disabled]="disabledPreviousButton()" class="page-item disabled">
      <a class="page-link" [routerLink]="['/microservice-store/products', getPreviousPage()]" (click)="previousPage()">Anterior</a>
    </li>

    @for (item of [].constructor(pageNumbers()); track $index) {
    <li class="page-item" routerLinkActive="active">
      <a class="page-link" [routerLink]="['/microservice-store/products',$index]" (click)="goToPage($index)">{{ $index }}</a>
    </li>
    }

    <li [class.disabled]="disabledNextButton()" class="page-item">
      <a class="page-link" [routerLink]="['/microservice-store/products', getNextPage()]" (click)="nextPage()">Siguiente</a>
    </li>
  </ul>
</nav>
</section>
