<div class="list-group margin-top-left overflow-scroll height border height pt-2 pb-2 ps-2 pe-2">
    <div class="btn inactive mb-2" routerLinkActive="btn-active"><a routerLink="/microservice-store/z">Perfil</a></div>
    <div class="btn inactive mb-2" routerLinkActive="btn-active"><a routerLink="/microservice-store/x">Historial</a></div>
    <div class="btn inactive mb-2" routerLinkActive="btn-active"><a routerLink="/microservice-store/products">Productos</a></div>
    <div class="btn inactive mb-2" routerLinkActive="btn-active"><a routerLink="/microservice-stor/y">Inventario</a></div>
    <div class="btn inactive mb-2" routerLinkActive="btn-active"><a routerLink="/microservice-store/store/0">Tienda</a></div>
</div>