<div class="list-group margin-top-left overflow-scroll height border height">
    <button type="button" class="btn btn-secondary mt-2 ms-2 me-2" routerLinkActive="'btn btn-primary'" [routerLink]="'/microservice-store/'">Perfil</button>
    <button type="button" class="btn btn-secondary mt-2 ms-2 me-2" routerLinkActive="'btn btn-primary'" [routerLink]="'/microservice-store/'">Historial</button>
    <button type="button" class="btn btn-secondary mt-2 ms-2 me-2" routerLinkActive="'btn btn-primary'" [routerLink]="'/microservice-store/products'">Productos</button>
    <button type="button" class="btn btn-secondary mt-2 ms-2 me-2" routerLinkActive="'btn btn-primary'" [routerLink]="'/microservice-store/'">Inventario</button>
    <button type="button" class="btn btn-secondary mt-2 ms-2 me-2 mb-2" routerLinkActive="'btn btn-primary'" [routerLink]="'/microservice-store/store/0'">Tienda</button>
</div>
