.margin-top-left {
    margin-top: 10px;
    margin-left: 10px;
}

.height {
    height: 85vh;
}

a {
    color: white;
    text-decoration-line: none;
    display: block;
}

.inactive {
    background-color: gray;
}

.btn-active {
    background-color: #0d6efd;
}