.grid-distribution{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

/*Grid que ocupa el sidebar del carrito cuando es visible*/
.cart-sidebar {
    grid-column-start: 4;
    grid-column-end: 5;

    grid-row-start: 1;
    grid-row-end: 3;
}

/*Grid que ocupa el sidebar del menu cuando es visible*/
.menu-sidebar {
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 1;
    grid-row-end: 3;
}

/* Cuando los sidebars están ocultos, el contenido ocupa toda la grilla */
.grid-no-sidebar {
    grid-column-start: 1;
    grid-column-end: 5;
    
    grid-row-start: 1;
    grid-row-end: 3;
}

/* Cuando el sidebar está visible, el contenido se reduce */
.grid-with-cart-sidebar {
    grid-column-start: 1;
    grid-column-end: 4;
    
    grid-row-start: 1;
    grid-row-end: 3;
}

/* Cuando el sidebar está visible, el contenido se reduce */
.grid-with-menu-sidebar {
    grid-column-start: 2;
    grid-column-end: 5;

    grid-row-start: 1;
    grid-row-end: 3;
}

/* Cuando ambos sidebars están visibles, el contenido se reduce */
.grid-with-sidebars {
    grid-column-start: 2;
    grid-column-end: 4;

    grid-row-start: 1;
    grid-row-end: 3;
}

/*Oculta el sidebar del carrito*/
.hide-cart-sidebar{
    visibility: hidden;
    transition: width 0.3s ease-in-out;
}

/* Muestra el sidebar del carrito*/
.show-cart-sidebar {
    visibility: visible;
}

/*Oculta el sidebar del menu*/
.hide-menu-sidebar {
    visibility: hidden;
    transition: width 0.3s ease-in-out;
}

/* Muestra el sidebar del menu*/
.show-menu-sidebar {
    visibility: visible;
}